In [148]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [133]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json
# Google API Key
from config import gkey

In [134]:
Locations_df = pd.read_csv("../Found Locations/Locations0.csv")
Locations_df.head()

                                 Found Locations
0           3016 Farm To Market 1327, Travis, TX
1                        3700 Cr 467, Travis, TX
2       7113 East Us Hwy 290 Srvd Eb, Austin, TX
3  8306 Colony Loop & 7000 Decker Ln, Austin, TX
4                         910 Fiesta, Austin, TX

In [135]:
import googlemaps

In [137]:
gmaps_key = googlemaps.Client(key = "AIzaSyBaeKr_jMV8HdTr1lj2wU66scYtJNZ_2Ec")

In [138]:
Locations_df["LAT"] = None
Locations_df["LON"] = None

for i in range(0, len(Locations_df),1):
    geocode_results = gmaps_key.geocode(Locations_df.iat[i,0])
    try:
        lat = geocode_results[0]["geometry"]["location"]["lat"]
        lon = geocode_results[0]["geometry"]["location"]["lng"]
        Locations_df.iat[i, Locations_df.columns.get_loc("LAT")] = lat
        Locations_df.iat[i, Locations_df.columns.get_loc("LON")] = lon
    except:
        lat = None
        lon = None

In [139]:
Locations_df.head()

                                 Found Locations   LAT   LON
0           3016 Farm To Market 1327, Travis, TX  None  None
1                        3700 Cr 467, Travis, TX  None  None
2       7113 East Us Hwy 290 Srvd Eb, Austin, TX  None  None
3  8306 Colony Loop & 7000 Decker Ln, Austin, TX  None  None
4                         910 Fiesta, Austin, TX  None  None

In [140]:
Locations_df.to_csv("../Found Locations/LongLat12.csv", encoding="utf-8", index=False)

In [225]:
LongLat_df = pd.read_csv("../Found Locations/LongsLats.csv")
LongLat_df.head()

  Animal ID                   Found Location        Lat        Lng  Frequency
0   A733252  03 Montopolis Drive, Austin, TX  30.243910 -97.691357          1
1   A707217       10 Casa Verde, Lakeway, TX  30.378198 -97.975004          2
2   A707218       10 Casa Verde, Lakeway, TX  30.378198 -97.975004          2
3   A782748      10 Palma Circle, Austin, TX  30.220003 -97.685905          1
4   A766665        100 Beaver St, Austin, TX  30.352353 -97.699987          1

In [226]:
import gmaps
import gmplot

In [227]:
LongLat_df = LongLat_df.loc[LongLat_df['Lng'] <= 180]

In [228]:
LongLat_df = LongLat_df.loc[LongLat_df['Lng'] >= -180]

In [229]:
LongLat_df = LongLat_df.loc[LongLat_df['Lat'] <= 90]

In [230]:
LongLat_df = LongLat_df.loc[LongLat_df['Lat'] >= -90]

In [231]:
locations = LongLat_df[["Lat", "Lng"]]
frequency = LongLat_df["Frequency"].astype(float)

In [246]:
fig = gmaps.figure()
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=frequency,
                                 dissipating=False, max_intensity=900,
                                 point_radius=0.008)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))